<!-- <script src="bower_components/jquery.easie.js/build/jquery.easie-min.js"></script> -->

<div class="jumbotron projumbo red">

    <!-- <h1>inspiration</h1> -->
    <img src="images/md-headers-inspiration.png" class="img-responsive eventlogo" alt="Music Day, UK - 21st June 2014">
    <p class="lead text-danger">Music Day means many things, and here is an idea of what could happen...</p>

</div>

<div class="container" id="textstart">
<!-- CONTENT HERE! -->
<!-- div.ideasSpread.js-masonry[data-masonry-options='{ "columnWidth": 200, "itemSelector": ".ideaBox" }']>div.row*4>div.col-sm-4*3>div.ideaBox>h3.ideaTitle{Title $}+img.img-responsive.img-thumbnail.ideaImg[src="images/imageplaceholder.jpg"]+p.ideaText>lorem -->

<div class="ideasSpread">

            <div class="ideaBox">
                <h3 class="ideaTitle">Think outside the box</h3>
                <img src="images/inspire-outsidebox.jpg" alt="" class="img-responsive img-thumbnail ideaImg">
                <p class="ideaText">Anywhere can be a potential stage for a small Music Day performance – parks, street corners, cafe terraces, rooftops, underpasses, playgrounds you name it!</p>
            </div>

            <div class="ideaBox shpeel">
<span class="icon-note-beamed text-danger" style="font-size: 16px; float: left; margin: 2px 2px 0 0; vertical-align: middle;"></span>
              <p><strong>Music Day</strong> is about creating a tangible presence of music throughout the whole day, wherever you are. It isn't about any specific forms of performance or musical style or setting. In fact, Music Day is about an active sharing of different cultures from Britain and the rest of the world, with an emphasis on participation and hosted in an open and accessible way.</p>
<span class="icon-note-beamed text-danger" style="font-size: 16px; float: left; margin: 2px 2px 0 0; vertical-align: middle;"></span>
<p>In Europe, under the names <strong>Fête de la Musique</strong> or <strong>World Music Day</strong>, this tradition has been going on since as far back as 1982. In many countries the celebrations take place on the streets and in public spaces. The current situation in the UK is a little different and more awkward to manage, so we understand that many people are put off by the amount of red-tape involved in, for example, staging even a small event in a public park.</p>
<span class="icon-note-beamed text-danger" style="font-size: 16px; float: left; margin: 2px 2px 0 0; vertical-align: middle;"></span>
<p>Other people may also be confused about what kind of event they could organise, or where to hold it. That is why this Inspiration Page exists - to stir up your grey matter and hopefully inspire some ideas of your own!</p>
            </div>
        
            <div class="ideaBox">
                <h3 class="ideaTitle">A minute's noise</h3>
                <img src="images/inspire-noise.jpg" alt="" class="img-responsive img-thumbnail ideaImg">
                <p class="ideaText">In the 21st century our notions of music are fully stretched and now encompass many forms of sonic artistry. Perhaps you can gather a flashmob somewhere public and have one minute's worth of noise for the living!</p>
            </div>
        
        
            <div class="ideaBox">
                <h3 class="ideaTitle">Amateur music groups</h3>
                <img src="images/inspire-amateur.jpg" alt="" class="img-responsive img-thumbnail ideaImg">
                <p class="ideaText">Music Day is an accessible and level playing field for amateur musicians to hold what might be their first concert. Organise your own music group, or other local groups, to have a concert on the street outside your place of rehearsal or elsewhere in town.</p>
            </div>
        
        
            <div class="ideaBox">
                <h3 class="ideaTitle">Open doors</h3>
                <img src="images/inspire-opendoors.jpg" alt="" class="img-responsive img-thumbnail ideaImg">
                <p class="ideaText">Fete de la Musique wasn't the only great idea to come over the Channel - 'Port Ouverte' or 'Open Doors' is when many places who may not usually be accessible to the public make the switch for a day. Invite people to see your building and have them enjoy a concert whilst they do.</p>
            </div>
        
        
            <div class="ideaBox">
                <h3 class="ideaTitle">The centre of your community</h3>
                <img src="images/inspire-centrecomm.jpg" alt="" class="img-responsive img-thumbnail ideaImg">
                <p class="ideaText">In many villages, towns and cities the village green, the commons and the town squares have gradually seen a decline in use. Why not use Music Day as a great excuse to bring some flair and excitement to the centre of your community?</p>
            </div>
        
        
            <div class="ideaBox">
                <h3 class="ideaTitle">Youth and school concerts</h3>
                <img src="images/inspire-youth.jpg" alt="" class="img-responsive img-thumbnail ideaImg">
                <p class="ideaText">The future of music in the UK of course lies with our youth. A Music Day concert in the school playground, or outside the gates, can be a focal point for the music students to work towards.</p>
            </div>
        
        
            <div class="ideaBox">
                <h3 class="ideaTitle">Learn to play an instrument</h3>
                <img src="images/inspire-learn.jpg" alt="" class="img-responsive img-thumbnail ideaImg">
                <p class="ideaText">Though many Music Day events will take the form of concerts it is also about getting your hands dirty and picking up an instrument. Perhaps you can organise a practical workshop for the budding musicians out there.</p>
            </div>
        
        
            <div class="ideaBox">
                <h3 class="ideaTitle">Exploring new cultures</h3>
                <img src="images/inspire-cultures.jpg" alt="" class="img-responsive img-thumbnail ideaImg">
                <p class="ideaText">After all, it is international Music Day - so a big part of what takes place is the opportunity to seek out and discover vibrant musical cultures from around the globe. It makes sense then that this is a perfect platform for you to present your own culture as well. Cuban Black-Metal with Alpine influences anyone?</p>
            </div>
        
        
            <div class="ideaBox">
                <h3 class="ideaTitle">And into the night...</h3>
                <img src="images/inspire-night.jpg" alt="" class="img-responsive img-thumbnail ideaImg">
                <p class="ideaText">It doesn't have to wind down at sundown on what is the longest day of the year. As night creeps in the party can move to venues, clubs and bars and continue till dawn. Perhaps you can rally together other venues in your locality and create 'a crawl'. The events would have to be free-entry, but that doesn't stop you covering costs with the bar, merchandise or competitions.</p>
            </div>
        
        
            <div class="ideaBox">
                <h3 class="ideaTitle">Learn to make an instrument</h3>
                <img src="images/inspire-make.jpg" alt="" class="img-responsive img-thumbnail ideaImg">
                <p class="ideaText">Why stop at simply <i>playing</i> an instrument? Music Day is also about education and the daytime can host workshops, lectures and discussions. One idea would be to gather recycled materials and help people build an instrument that is ready to show its colours at an evening concert.</p>
            </div>
        
        </div>

</div> 
