<div class="container">
  <div id="aniHolder">
      <div>The events <a href="#map_section">map</a> and <a href="/events">listings</a> are now online</div>
      <div>We are uploading new DJ mixes to our <span class="icon-mixcloud"></span>Mixcloud page - <a href="http://www.mixcloud.com/musicdayuk/" target="_blank"> mixcloud.com/musicdayuk/</a></div>
      <div>We have some great poster designs for you to use on our <a href="/resources">Resources</a> page</div>
  </div>
</div>

  <div class="homeback"></div>

    <div class="jumbotron alignTop" id="home">
      <div class="container">
        <h1 style="display:none;">Music Day UK - 21st June 2014</h1>
        <img src="images/md-headers-home.png" class="img-responsive musiclogo" alt="Music Day, UK - 21st June 2014">
        <p>A day of free events to celebrate the universal language of music!</p>
        <p><a href="#signup" class="btn btn-success btn-lg">Take part &raquo;</a></p>

      </div>
    </div>


    <div class="container contentback" id="textstart">
<img src="images/star.png" alt="Music Day 2014" class="star">
      <div class="col-sm-4 homeBox">
          <h2>Music Day 2014!</h2>
          <p>Last year was a great success and this year will be even better. Check out the <a href="#map_section">Events Map</a> or <a href="/events">Listings</a> to find something happening near you. What better way is there to celebrate the longest day of the year?</p>
          <p><a class="btn btn-default" href="#about">Find out more &raquo;</a></p>
        </div>
        <div class="col-sm-4 homeBox">
          <h2>Be a host</h2>
          <p>We are looking for organisers, venues or promoters to host their own Music Day event.<br>Check out the <a href="#signup">Get Involved</a> section for inspiration and assistance or <a href="#signup">Sign Up</a> to get started.</p>
          <p><a class="btn btn-default" href="/inspiration">Find out how &raquo;</a></p>
        </div>
        <div class="col-sm-4 homeBox">
          <h2>Be a performer</h2>
          <p>Music Day would be nothing without music! It’s a great opportunity for musicians of all ages, amateur or professional, and there will be plenty of places for you to play – so register your interest and find a gig.</p>
          <p><a class="btn btn-default" href="#signup">Sign up &raquo;</a></p>
       </div>

      <hr>

      <div id="map_section" class="container anchorAlign">
        <h2>Map of events</h2>
        <div id="map-canvas">
        </div>
        <noscript>You need JavaScript enabled in your browser to view the map!</noscript>
      </div>

      <hr>

      <div id="about" class="container anchorAlign">
        <h2>About Music Day</h2>
        <p><strong>Music Day</strong> is a connected set of <strong>free public events</strong> which takes place each year on the 21st June, our midsummer. Last year there were events in <a href="http://www.fetedelamusique.culture.fr/en/International/around-the-world/" target="_blank">108 countries and 726 cities around the world</a>, not including France where there were too many events to count!</p>
          <p><a href="http://fetedelamusique.culture.fr/fr/ailleurs-dans-le-monde/echos-de-la-fete/dans-le-monde-en-photo/" target="_blank">Check out some photos from last years events</a>.</p>
        <img src="images/Fete-de-la-Musique-France-2005.jpg" class="img-responsive rgt">
      <p>The event is also known as <strong>Fête de la Musique</strong> (<a href="http://www.fetedelamusique.culture.fr/en/International/presentation/" target="_blank">www.fetedelamusique.culture.fr</a>) (or <strong>World Music Day</strong>) and originated in France in 1982. Since then the idea has spread across the globe with each event holding to the same simple set of principles: that the day is held on the mid-summer solstice and that all concerts and events are free and accessible to the public.</p>
      <p>Typically this means that the music is brought out <strong>onto the streets</strong>, though venues are also encouraged to get in on the act!</p>
        <p><a href="/gallery">Go to the Gallery section to see pictures from Fête de la Musique around the world </a></p>
        <img src="images/world-music-day-london-2012-pic-3.jpg" class="img-responsive lft">
      <p>2013 was the first year that the UK made a co-ordinated contribution towards Music Day, with around 20 events stretching from Belfast to Jersey. We believe that this number will grow exponentially in 2014-2015 as both dates fall on a weekend.</p>
      <p>We are asking everyone  to think about how they can participate
        in a UK contribution to Music Day — whether that be performing, organising an event, convincing a venue to  take their music outside or lending your time, equipment and support.</p>
      <p>Of course you can also just turn up and join in the celebrations! To get this event taking hold in the UK we need people to spread the word. Please join our mailing list, follow us on social media, or send our press release out to your own networks, friends and colleagues. The UK can then truly embrace the amazing phenomenon known as Music Day!</p>
      </div>

      <hr>
      <div id="signup" class="container anchorAlign">
        <h2>Are you a performer or want to be an event organiser?</h2>
        <p>To get involved, sign up below as an artist/band/performer or a venue/host/organiser and we will match you up with local music lovers. If you need some inspiration then head on over to our <a href="/inspiration">Inspiration Page</a>.</p>
        <form role="form" class="signup_form" action="/login.php?act=signup" method="post" autocomplete="off">
          <h3>Get Involved — Sign Up</h3>
        <div class="form-group">
            <label for="signup_email">Email address</label>
            <input type="email" class="form-control" id="signup_email" name="email" placeholder="Enter email" autocomplete="off" required>
          </div>
          <div class="form-group" id="pwstrength">
            <label for="signup_pass">Password</label>
            <input type="password" class="form-control" id="signup_pass" name="password" placeholder="Password" autocomplete="off" required>
            <span class="pwstrength_viewport_progress"></span>
            <div class="pwstrength_error"></div>
          </div>
          <div class="form-group">
            <label for="signup_pass2">Confirm Password</label>
            <input type="password" class="form-control" id="signup_pass2" placeholder="Re-enter Password" autocomplete="off" name="passconf" required>
          </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon userTypePrepend">I am a...</span>
            <select class="form-control" id="user_type" name="user_type">
              <option value="artist">Performer (Solo Artist/Band/DJ/Liveset)</option>
              <option value="venue">Host (Event Organiser/Venue/Promoter)</option>
            </select>
          </div>
        </div>
        <div class="hidden alert alert-danger alert-dismissable" id="signupError">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
        <div class="form-group buttSpace">
        <div class="web_field">
          <label for="first_name">Keep this box empty:</label>
          <input type="text" class="first_name" name="first_name" autocomplete="off" value="">
      </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="terms" id="terms">
              I agree to the <a href="#/terms">Terms &amp; Conditions</a>
            <small>(We will <i>never</i> share your personal details)</small>
          </label>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Create your profile</button>
        </div>
      </form>
      </div>

</div> <!-- /container -->
