<div class="homeback"></div>

    <div class="jumbotron projumbo blue">

        <!-- <h1>resources</h1> -->
        <img src="/img/md-headers-resources.png" class="img-responsive eventlogo" alt="Music Day, UK - 21st June 2014">
        <p class="lead text-danger">Some help with planning your own Music Day event</p>

    </div>

    <div class="modal fade infoPopup" tabindex="-1" role="dialog" aria-labelledby="infoPopupLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h2 class="modal-title" id="infoPopupLabel">Poster printing instructions</h2>
        </div>
        <div class="modal-body smaller">
              <p>The posters are presented in PDF format. For a free PDF reader <a href="http://www.foxitsoftware.com/Secure_PDF_Reader/" target="_blank">click here to download Foxit Reader</a></p>
              
              <p>If you are more tech-savvy you can use <a href="http://www.adobe.com/uk/products/illustrator.html" target="_blank">Adobe Illustrator</a> for actual editing of the PDF file and <a href="http://www.adobe.com/uk/products/acrobat.html" target="_blank">Adobe Acrobat</a> for some further publishing tasks.</p>
              
              <p>If you are sending your poster to be printed professionally then you should send use and send the PDF file which has 'full-bleed' (3mm extra around all edges in addition to the final trimmed dimensions, to avoid white space when cutting). </p>
              
              <p>If you are sending your poster as an e-flyer then use the PDF file which has 'no-bleed'. You should also use this file if you are simply printing them off on your own printer. This will inevitably have some white space around the edge, due to the limitations of a standard printer, but you should choose 'Fit to Page Width' or a similar setting to ensure you don't lose any of your image.</p>
              
              <p>For cheap poster printing we have previously used:<br>
              <a href="http://www.instantprint.co.uk/posters" target="_blank">http://www.instantprint.co.uk/posters</a><br>
              <a href="https://www.zip-posters.co.uk/cheap-poster-printing/" target="_blank">https://www.zip-posters.co.uk/cheap-poster-printing/</a></p>
        </div>
        <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
      </div>
    </div>

    <div class="container contentback" id="textstart">
    <div class="shpeelRes"><span class="icon-note-beamed text-danger" style="font-size: 28px; float: left; margin: 0 5px 0 0;"></span><p>We know that the easy part of creating a Music Day event is that initial spark of enthusiasm and your decision to get involved. But where do you go from there?</p>
        
        <p>Taking the bold move to organise an event in a public space, or in a venue which doesn't already hold a licence, often leads you into a quandary. There can be a great deal of forms to fill out and new lingo to decipher.</p>
        
        <p>This is one of the things that our co-ordinating group will campaign to change in the future, but for now what we can do is to try and ease the pain of all that red-tape.</p></div>
    <div class="row">
        <div class="col-sm-6">
            <div class="checklist resBox">
            <h2>Checklist</h2>
                <p>Here is a list of all the things you might need to stage your event:</p>
                <ul class="list-unstyled">
                    <li><span class="icon-ok green"></span>Permission or licence to use a space</li>
                    <li><span class="icon-ok green"></span><a href="https://www.gov.uk/temporary-events-notice" target="_blank">Temporary Events Notice</a> (TEN) for music/entertainment or food/drink sales</li>
                    <li><span class="icon-ok green"></span>Public liability insurance</li>
                    <li><span class="icon-ok green"></span>Adequate staffing</li>
                    <li><span class="icon-ok green"></span>Amplification and audio equipment</li>
                    <li><span class="icon-ok green"></span>Transport</li>
                    <li><span class="icon-ok green"></span>Staging/fencing/electricity supply</li>
                    <li><span class="icon-ok green"></span>Health & safety measures</li>
                    <li><span class="icon-ok green"></span>Promotion</li>
                    <li><span class="icon-ok green"></span>Music! <small>(You can find performers via the bottom of your Profile page)</small></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="checklist resBox">
            <h2>Documents</h2>
                <p>Here are some guides and templates to help you complete some of the paperwork you might be asked for:</p>
                <ul class="list-unstyled">
                    <li><a href="http://www.startnow.org.uk/getting-started/" target="_blank"><span class="icon-download text-info"></span>Event Management Plan</a></li>
                    <li><a href="http://www.hse.gov.uk/Risk/index.htm" target="_blank"><span class="icon-download text-info"></span>Risk Assessment</a></li>
                    <li><a href="https://www.gov.uk/workplace-fire-safety-your-responsibilities/fire-risk-assessments" target="_blank"><span class="icon-download text-info"></span>Fire Risk Assessment</a></li>
                    <li><a href="http://www.green-space.org.uk/downloads/parkit/toolkits/Site%20plan.pdf" target="_blank"><span class="icon-download text-info"></span>Site Plan</a></li>
                    <li><a href="https://www.gov.uk/temporary-events-notice" target="_blank"><span class="icon-download text-info"></span>Temporary Events Notice</a></li>
                </ul>
                <p>We are developing our own <strong>Music Day Events Toolkit</strong> – please sign up to our <a href="#">mailing list</a> to find out when it has been published.</p>
            </div>
        </div>
    </div>
    
    <div class="row col-sm-12">
        <div class="links_section resBox">
                <h2>Customisable Posters</h2>
              <p>Here are the chosen entries for the poster competition we ran earlier this year. All designs were made to be customisable so that you can add your own name, location and times etc.</p>
              <div class="posterBox gallery">
                  <a href="/posters/template.jpg" class="posterLink">
                  <img src="/posters/template.jpg" alt="Music Day 2014 poster" class="posterThumb img-thumbnail img-responsive"></a>
                  <a href="/posters/template.jpg" class="posterLink">
                  <img src="/posters/template.jpg" alt="Music Day 2014 poster" class="posterThumb img-thumbnail img-responsive"></a>
                  <a href="/posters/template.jpg" class="posterLink">
                  <img src="/posters/template.jpg" alt="Music Day 2014 poster" class="posterThumb img-thumbnail img-responsive"></a>
                  <a href="/posters/template.jpg" class="posterLink">
                  <img src="/posters/template.jpg" alt="Music Day 2014 poster" class="posterThumb img-thumbnail img-responsive"></a>
                  <a href="/posters/template.jpg" class="posterLink">
                  <img src="/posters/template.jpg" alt="Music Day 2014 poster" class="posterThumb img-thumbnail img-responsive"></a>
                  <a href="/posters/template.jpg" class="posterLink">
                  <img src="/posters/template.jpg" alt="Music Day 2014 poster" class="posterThumb img-thumbnail img-responsive"></a>
              </div>
              <p>All posters are high-resolution at either A4 or A3 and should scale up well to larger dimensions. <a href="#" data-toggle="modal" data-target=".infoPopup">Please click here for further instructions for editing and printing your posters</a>.</p>
              </div>
    </div>
    
    <div class="row col-sm-12">
        <div id="links" class="links_section resBox">
                <h2>Useful Links</h2>
              <p>For 'how-to' information on organising your own street event for Music Day:<br>
                <a href="http://www.streetparty.org.uk/" target="_blank">The Street Party site</a><br>
              <p>For further helpful info for Londoners:<br />
                <a href="http://www.londoneventstoolkit.co.uk" target="_blank">London Events Toolkit</a></p>
                <p>For official information:<br>
                <a href="http://www.fetedelamusique.culture.fr/en/International/presentation/" target="_blank">www.fetedelamusique.culture.fr</a></p>
                <p>For further reading:<br>
                <a href="http://en.wikipedia.org/wiki/World_Music_Day" target="_blank">en.wikipedia.org/wiki/World_Music_Day</a></p>
                <p>Other related links:<br>
              <a href="http://www.superact.org.uk/ourbiggig" target="_blank">Our Big Gig</a><br>
                <a href="http://www.musiciansunion.org.uk" target="_blank">The Musicians Union</a><br>
                <a href="http://www.resonancefm.com" target="_blank">Resonance FM</a><br>
                <a href="http://www.musicteachers.co.uk/" target="_blank">Music Teachers UK</a>
                </p>
              </div>
    </div>

    <hr>
</div>
